.trauma-care-content{
    padding: 50px 120px;
    margin-bottom:90px;
}

.trauma-care-content h3{
    color: #177da5;
}
.trauma-care-content ul{
    padding-left: 20px;

}

.trauma-care-content ul li{
    list-style: disc;
    margin: 12px 0;
    font-size: 1.1rem;
}